<div id="main">
	<section>

	<h2>お問い合わせ</h2>

	<h3>フォームからのお問い合わせ</h3>
	

		<%= form_with(model: @contact, url: contact_confirm_main_index_path, method: :post) do |f| %>
			<table class="ta1">
				<tr>
					<th>お名前※</th>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<th>メールアドレス※</th>
					<td><%= f.text_field :mailaddress %></td>
				</tr>
				<tr>
					<th>お問い合わせ詳細※</th>
					<td><%= f.text_area :text, size: "30x5", class:"wl" %></td>
				</tr>
			</table>
			<p class="c">
				<%= f.submit "内容を確認する", class:"btn" %>
			</p>
		<% end %>
	</section>
</div>
