			<div id="main">

				<section>

					<div class="japan_map">
							<%= image_tag "/images/map546_506.png" %>
							<span class="area_btn area1" data-area="1">北海道・東北</span>
							<span class="area_btn area2" data-area="2">関東</span>
							<span class="area_btn area3" data-area="3">中部</span>
							<span class="area_btn area4" data-area="4">近畿</span>
							<span class="area_btn area5" data-area="5">中国・四国</span>
							<span class="area_btn area6" data-area="6">九州・沖縄</span>

							<div class="area_overlay"></div>
							<div class="pref_area">
									<div class="pref_list" data-list="1">
											<div data-id="1">北海道</div>
											<div data-id="2">青森県</div>
											<div data-id="3">岩手県</div>
											<div data-id="4">宮城県</div>
											<div data-id="5">秋田県</div>
											<div data-id="6">山形県</div>
											<div data-id="7">福島県</div>
											<div></div>
									</div>

									<div class="pref_list" data-list="2">
											<div data-id="8">茨城県</div>
											<div data-id="9">栃木県</div>
											<div data-id="10">群馬県</div>
											<div data-id="11">埼玉県</div>
											<div data-id="12">千葉県</div>
											<div data-id="13">東京都</div>
											<div data-id="14">神奈川県</div>
											<div></div>
									</div>

									<div class="pref_list" data-list="3">
											<div data-id="15">新潟県‎</div>
											<div data-id="16">富山県‎</div>
											<div data-id="17">石川県‎</div>
											<div data-id="18">福井県‎</div>
											<div data-id="19">山梨県‎</div>
											<div data-id="20">長野県‎</div>
											<div data-id="21">岐阜県</div>
											<div data-id="22">静岡県</div>
											<div data-id="23">愛知県‎</div>
											<div></div>
									</div>

									<div class="pref_list" data-list="4">
											<div data-id="24">三重県</div>
											<div data-id="25">滋賀県</div>
											<div data-id="26">京都府</div>
											<div data-id="27">大阪府</div>
											<div data-id="28">兵庫県</div>
											<div data-id="29">奈良県</div>
											<div data-id="30">和歌山県</div>
											<div></div>
									</div>

									<div class="pref_list" data-list="5">
											<div data-id="鳥取県">鳥取県</div>
											<div data-id="島根県">島根県</div>
											<div data-id="岡山県">岡山県</div>
											<div data-id="広島県">広島県</div>
											<div data-id="山口県">山口県</div>
											<div data-id="徳島県">徳島県</div>
											<div data-id="香川県">香川県</div>
											<div data-id="愛媛県">愛媛県</div>
											<div data-id="高知県">高知県</div>
											<div></div>
									</div>

									<div class="pref_list" data-list="6">
											<div data-id="40">福岡県</div>
											<div data-id="41">佐賀県</div>
											<div data-id="42">長崎県</div>
											<div data-id="43">熊本県</div>
											<div data-id="44">大分県</div>
											<div data-id="45">宮崎県</div>
											<div data-id="46">鹿児島県</div>
											<div data-id="47">沖縄県</div>
									</div>
							</div>
					</div>


	<%= search_form_for(@q, url: map_main_index_path, method: :get) do |f| %>
		<table class="ta1">
			<caption class="c">施設検索(都道府県)</caption>
				<tr>
					<th>都道府県</th>
					<td>
						<%= f.search_field :office_city_prefecture_prefecture_eq  %>
					</td>
				</tr>
		</table>

		<p class="c">
			<%= f.submit "検索する", class:"btn js-search-button" %>
		</p>
	<% end %>

	<% @oaccounts.each do |oaccounts| %>

		<div class="list link">
			<figure>
				<%= link_to( main_path(oaccounts.id) ) do %>
					<% if oaccounts.thumbnail.attached? %>
						<%= image_tag url_for(oaccounts.thumbnail) %>
					<% else %>
						<img src="/images/6.jpg" alt="">
					<% end %>
				<% end %>
			</figure>
			<div class="listinboxA">
				<div class="listinbox2">

					<h4><%= link_to(oaccounts.office_name, main_path(oaccounts.id)) %></h4>
					<% if @user_in %>
						<p><%= link_to("ショートステイの空き状況はこちら", bed_show_reserf_path(oaccounts.id)) %></p>
					<% end %>
					<p><%= oaccounts.office_apear.truncate(65) %></p>
				</div>
				<div class="listinbox3">
					<br>
					<i class="zmdi zmdi-pin"></i> <%= oaccounts.office_city&.city_name %><br>
					<i class="zmdi zmdi-home"></i> <%= oaccounts.office_bed_count %>床<br>
					<i class="zmdi zmdi-hotel"></i> <%= oaccounts.bed_type&.bed_type %>
				</div>
			</div>
		</div>
	<% end %>
<%= paginate @oaccounts %>










				</section>


			</div>
			<!--/#main-->
