<div id="main">

  <section>

    <h2>非承認一覧表</h2>
    <p>施設から承認されなかったリストです</p>

    <% @reserves.each do |reserve| %>
      <div class="list link">
        <div class="listinboxA">
          <div class="listinbox2">
            <h4>№<%= reserve.id %>　<%= reserve.oaccount&.office_name %></h4>
            <p><i class="zmdi zmdi-account"></i>　<%= "#{reserve.client_name}様" if reserve.client_name.present? %></p>
            <p><%= link_to("予約期間#{reserve.start_date}〜#{reserve.end_date}", reserve_show_reserf_path(reserve.id)) %></p>
            <p>備考：<%= reserve.remark %></p>
          </div>
          <div class="listinboxr3">
            <br>
            <p><i class="zmdi zmdi-phone"></i> <%= reserve.oaccount.office_phone %>
            <p><i class="zmdi zmdi-car">迎え</i> <%= reserve.start_transfer.trans_flg %></p>
            <p><i class="zmdi zmdi-car">送り</i> <%= reserve.end_transfer.trans_flg %></p>
          </div>

        </div>
      </div>
    <% end %>
  <%= paginate @reserves %>
  </section>

</div>
<!--/#main-->
