<p>
  <%= @reserve.uaccount.user_name %> 様
</p>
<p>
  残念ながら、この予約は施設に承認されませんでした。
</p>
<p>
  <%= @reserve.oaccount.office_name %>
</p>
<p>
  電話番号：<%= @reserve.oaccount.office_phone %>
</p>
<p>
  <%= @reserve.start_date %> 〜 <%= @reserve.end_date %>
</p>
