<div id="main">
  <p><%= link_to("管理画面TOPに戻る", admin_home_index_path ) %></p>

	<section>

		<h2>施設のご案内</h2>
		<p>施設のご案内ページです。</p>
		<%= search_form_for(@q, url: info_delete_admin_index_path, method: :get) do |f| %>
			<table class="ta1">
				<caption class="c">施設検索</caption>
					<tr>
						<th>住所</th>
						<td>
							<%= f.collection_select :office_city_id_eq, City.eager_load(:prefecture).all, :id, :full_name, {}, class: "js-select2" %>
						</td>
					</tr>
			</table>

			<p class="c">
				<%= f.submit "検索する", class:"btn" %>
			</p>
		<% end %>

		<% @oaccounts.each do |oaccounts| %>
			<div class="list link">
				<h4><%= link_to(oaccounts.office_name, main_path(oaccounts.id)) %></h4>
				<p>email:<%= oaccounts.email %></p>
				<p>ベッド数<%= oaccounts.office_bed_count %>床</p>
				<p><%= oaccounts.office_apear %></p>
				<div style="display:inline-block; margin-right: 10px;"><%= button_to("事業所を編集する", edit_office_admin_path(oaccounts.id), method: :get, class: "button-v1") %></div>
				<div style="display:inline-block;"><%= button_to("事業所を削除する", delete_office_confirm_admin_path(oaccounts.id), method: :post, class: "button-v2") %></div>
			</div>
		<% end %>

	</section>

</div>
<!--/#main-->
