<div id="main">
  <p><%= link_to("管理画面TOPに戻る", admin_home_index_path ) %></p>
  <h2>ショートステイ事業所新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "oaccounts/shared/error_messages", resource: resource %>

    <div class="field">
      ショート事業所メール（<%= f.label :email %>）<br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", size:40 %>
    </div>

    <div class="field">
      ショート事業所パスワード（<%= f.label :password %>）
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      ショートステイ事業所パスワード確認（<%= f.label :password_confirmation %>）<br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div class="field">
      ショートステイ事業所名（<%= f.label :office_name %>）<br />
      <%= f.text_field :office_name, autocomplete: "office_name", size:40 %>
    </div>
    <div class="field">
      ショートステイ事業所地区（<%= f.label :office_city_id %>）<br />
      <%= f.collection_select :office_city_id, City.eager_load(:prefecture).all, :id, :full_name, {include_blank: true}, autocomplete: "office_city_id", class:"ws js-select2" %>
    </div>
    <div class="field">
      ベッドの種類（<%= f.label :office_bed_type %>）<br />
      <%= f.collection_select :office_bed_type, Bedtype.all, :id, :bed_type, {include_blank: true} %>
    </div>
    <div class="field">
      ベッド数（<%= f.label :office_bed_count %>）<br />
      <%= f.number_field :office_bed_count, autocomplete: "office_bed_count" %>
    </div>
    <div class="field">
      ショートステイ電話番号（<%= f.label :office_phone %>）<br />
      <%= f.text_field :office_phone, autocomplete: "office_phone" %>
    </div>
    <div class="field">
      ショートステイホームページ（<%= f.label :office_url %>）<br />
      <%= f.text_field :office_url, autocomplete: "office_url", size:40 %>
    </div>


    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>
  <% end %>

  <%= render "oaccounts/shared/links" %>
</div>
