<div id="main">

	<section>
		<%= form_with(model: @matter, url: edit_confirm_matter_path, method: :post) do |f| %>
			<div class="button-modoru-box">
				<%= link_to "戻る", 'javascript:history.back()', method: :get, class: "button-modoru" %>
			</div>
			<table class="ta1">
				<tr>
					<th>ケアマネジャー</th>
					<td><%= f.hidden_field :uaccount_id %><% @matter.uaccount_id %> <%= @matter.uaccount.user_name %></td>
				</tr>
				<tr>
					<th>開始日</th>
					<td><%= f.date_field :start_date %><%= @matter.start_date %></td>
				</tr>
				<tr>
					<th>終了日</th>
					<td><%= f.date_field :end_date %><%= @matter.end_date %></td>
				</tr>
				<tr>
					<th>ショートステイ依頼内容</th>
					<td><%= f.text_area :remark, size: "30x5", class:"wl" %><%= @matter.remark %></td>
				</tr>
			</table>
			<p class="c">
				<%= f.submit "内容を確認する", class:"btn" %>
			</p>
		<% end %>
	</section>

</div>
<!--/#main-->
