<div id="main">

<section>

	<%= form_with(model: @uaccount, url: user_path, method: :patch) do |f| %>
		<table class="ta1">
			<tr>
				<th>お名前</th>
				<td><%= f.hidden_field :user_name %><%= @uaccount.user_name %></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><%= f.hidden_field :email %><%= @uaccount.email %></td>
			</tr>
			<tr>
				<th>事業所名</th>
				<td><%= f.hidden_field :user_office%><%= @uaccount.user_office %></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><%= f.hidden_field :user_phone %><%= @uaccount.user_phone %></td>
			</tr>
			<tr>
				<th>お知らせ</th>
				<td>
					<%= f.hidden_field :commerce %><%= check_box "",'', {checked: (true if @uaccount.commerce == "allow_send_mail"), disabled: true}, true, false %>
					<%= "ソフトウェアのアップデート情報などのお知らせメールを希望します。"  %>
				</td>
	</tr>

		</table>
		<p class="c">
			<input type="submit" value="保存" class="btn">
		</p>
	<% end %>

</section>

</div>
<!--/#main-->
