<div id="main">

	<section>

			<table class="ta1">
        <div class="button-modoru-box">
          <%= link_to "戻る", 'javascript:history.back()', method: :get, class: "button-modoru" %>
        </div>
				<tr>
					<th>ケアマネジャー</th>
					<td><%= @reserve.display_user_name %></td>
				</tr>
				<tr>
					<th>ショートステイ事業所番号</th>
					<td><%= @reserve.oaccount.office_name %></td>
				</tr>
				<tr>
					<th>利用者名</th>
					<td><%= @reserve.user_name || @reserve.client_name %></td>
				</tr>
				<tr>
					<th>開始日</th>
					<td><%= @reserve.start_date %></td>
				</tr>
				<tr>
					<th>迎えの送迎</th>
					<td><%= @reserve.start_transfer.trans_flg %></td>
				</tr>
				<tr>
					<th>終了日</th>
					<td><%= @reserve.end_date %></td>
				</tr>

				<tr>
					<th>送りの送迎</th>
					<td><%= @reserve.end_transfer.trans_flg %></td>
				</tr>
				<tr>
					<th>過去に利用がありますか？</th>
					<td><%= @reserve.past_use.past_use %></td>
				</tr>
				<tr>
					<th>備考欄</th>
					<td><%= @reserve.remark %></td>
				</tr>
			</table>
			<h2>ショートステイ連絡ボード</h2>
			<% @comments.each do |comment| %>
				<% if comment.sender_flg == "uaccount_comment" then %>
					<div class=comment_box_blue>
						ケアマネ：<%= comment.uaccount.user_name %><br>
						<%= comment.comment %><br>
						投稿日：<%= comment.created_at.strftime("%Y年%m月%d日(%a)%H:%M") %>
					</div>
				<% else %>
					<div class=comment_box_orange>
						事業所：<%= comment.oaccount.office_name %><br>
						<%= comment.comment %><br>
						投稿日：<%= comment.created_at.strftime("%Y年%m月%d日(%a)%H:%M") %>
						<div class="button-choise-end"><%= button_to("削除", reserve_self_comment_path(id: comment.id, reserve_self_id: @reserve.id), method: :delete) %></div>
						<br>
					</div>
				<% end %>
			<% end %>

			<%= form_with(model: Comment.new, url: reserve_self_comments_path(@reserve.id), method: :POST) do |f| %>
				<table class="ta1">
					<tr>
						<th>コメント</th>
						<td><%= f.text_area :comment, size: "30x5", class:"wl" %></td>
					</tr>
				</table>

				<p class="c">
					<%= f.submit "コメントを送る", class:"btn" %>
				</p>
			<% end %>
	</section>

</div>
<!--/#main-->
